/**/*.o
src/.idea/
src/CMakeLists.txt
src/cmake-build-debug/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
examples/Makefile
examples/Makefile.in
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
man/Makefile
man/Makefile.in
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/build-qt-Desktop-Debug/.deps/
src/build-qt-Desktop-Debug/.dirstamp
src/build-qt-Desktop-Debug/libqt_cpp_la-moc_dialog1.lo
src/build-qt-Desktop-Debug/libqt_cpp_la-moc_dialog2.lo
src/build-qt-Desktop-Debug/libqt_cpp_la-moc_dialog3.lo
src/build-qt-Desktop-Debug/libqt_cpp_la-moc_mainwindow.lo
src/build-qt-Desktop-Debug/libqt_cpp_la-moc_mainwindow_stud.lo
src/build-qt-Desktop-Debug/libqt_cpp_la-moc_mainwindow_teach.lo
src/headers/config.h.in
src/headers/stamp-h1
src/libdatabse.la
src/libmainmenu.la
src/libqt_cpp.la
src/libs/.deps/
src/libs/.dirstamp
src/libs/db/.deps/
src/libs/db/.dirstamp
src/libs/db/libdatabse_la-database.lo
src/libs/db/libdatabse_la-sha256.lo
src/libs/db/libdatabse_la-sqlite3.lo
src/libs/libmainmenu_la-main_menu.lo
src/libs/libstudent_la-SM.lo
src/libs/libstudent_la-func_student.lo
src/libs/libteacher_la-teacher.lo
src/libs/libteacher_la-teacher_menu.lo
src/libstudent.la
src/libteacher.la
src/qt/.deps/
src/qt/.dirstamp
src/qt/libqt_cpp_la-dialog1.lo
src/qt/libqt_cpp_la-dialog2.lo
src/qt/libqt_cpp_la-dialog3.lo
src/qt/libqt_cpp_la-mainwindow.lo
src/qt/libqt_cpp_la-mainwindow_stud.lo
src/qt/libqt_cpp_la-mainwindow_teach.lo
src/qt/libqt_cpp_la-qt_main.lo